body{
    font-family: 'Neonderthaw', cursive;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50%;
}
.half-width img{
    width: 30%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(image/118.jpg);
}